body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

header img {
  height: 25px;
  padding: 30px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px;
}

main .hero-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  max-width: 500px;
}

main .hero-text {
  text-transform: uppercase;
  text-align: center;
  color: #413a3a;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 12px;
  margin: 60px auto 20px;
}

main .hero-text span {
  display: block;
}

main .hero-text span:nth-of-type(1) {
  color: #ce9797;
  font-weight: 300;
}

main p {
  color: #ce9797;
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
  line-height: 25px;
  max-width: 360px;
}

main form {
  border: 1px solid #ce9797;
  margin: 25px;
  height: 50px;
  width: 100%;
  max-width: 400px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main form input {
  background: transparent;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  color: #ce9797;
  border: none;
  outline: none;
  margin-left: 20px;
  height: 100%;
  width: 100%;
}

main form button {
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  height: 54px;
  width: 90px;
  margin-right: -2px;
  border-radius: 25px;
  border: none;
}

main form button:hover {
  cursor: pointer;
}

main form button:active {
  background: linear-gradient(135deg, white, #fff5f5);
}

main #validation-message {
  color: #f96262;
  margin: 10px 0 0 170px;
  display: none;
}

.validation-error {
  border: 2px solid #f96262;
  background: right 100px top 50%/30px no-repeat url(./images/icon-error.svg);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #ce9797;
}

.attribution a {
  color: #f96262;
}

@media screen and (min-width: 1200px) {
  body {
    background: url(./images/bg-pattern-desktop.svg);
  }
  header img {
    padding: 0;
    margin: 60px 0 120px 150px;
    height: 35px;
  }
  main {
    margin: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main .hero-img {
    content: url(./images/hero-desktop.jpg);
    position: absolute;
    right: 0;
    top: 0;
    width: initial !important;
    height: 100vh;
    -o-object-fit: contain;
       object-fit: contain;
    max-width: initial;
  }
  main .hero-text {
    text-align: left !important;
    font-size: 64px;
    margin: 0 0 0 150px;
    line-height: 70px;
    letter-spacing: 20px;
  }
  main p {
    text-align: left;
    margin: 25px 0 0 150px;
    padding: 0;
    max-width: 470px;
    font-size: 17px;
  }
  main form {
    max-width: 460px;
    margin: 40px 0 0 150px;
  }
  main form input {
    font-size: 16px;
  }
  main form button {
    width: 120px;
  }
  footer .attribution {
    text-align: left;
    margin: 50px 0 0 150px;
  }
}
/*# sourceMappingURL=main.css.map */